.myclass{
  background-color: crimson;
  text-align: center;
  color: white;
  font-size: 50px;
}

.nav-item .active{
  border-bottom: 2px solid wheat;
  color: wheat !important;
  font-weight: bold;
}


.login-container{
  display: flex;
  min-height: 100vh;
  align-items: center;
  justify-content: center;
  background-image: url('');
}

.myimg{
  object-fit: contain;
}

.area{
  width: 100%;
  border-radius: 25px;
}

.my-com{
  color: grey;
  font-size:medium;
  padding-top: 15px;
}

.upd{
  font-size: x-small;
  
}